header {
    text-align: center;
    background-color: #08BD65;
    padding: 5px;
    margin: 0;
}

h3 {
    text-align: center;
    position: relative;
    top: 20rem;
}


input {
    width: 24.7%;
    margin: 10px;
    padding: 5px;
}
button {
    display: flex;
    width: 25%;
    margin: 10px;
    padding: 5px;
    background-color: #08BD65;
    border: black;
    border-radius: 2%;
}

ul li {
    list-style-type: none;
}

.search-engine {
    margin: 20px;
}

.weather-features {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25rem;
    bottom: 10rem;
}

#weather-box {
    box-sizing: content-box;
    border: solid black;
    margin-left: 2rem;
}
.weather-features, 
#city-name {
    display: inline;
}

.forecast {
    position: relative;
    left: 13rem;
    display: flex;
    bottom: 5rem;
}

.each-container {
    border: solid black;
    margin: 10px;
    position: relative;
    right: 20rem;
    padding: 20px;
    background-color: #EDB05A;
}

.daily-features {
    margin: 20px;
}

ul #weather-forecast {
    border: solid black;
    width: max-content;
}

button,
#search {
    text-align: center;
    font-size: 15px;
}

#weather-details {
    margin: 2rem;
}

#five-day-title {
    position: relative;
    top: -5rem;
    
}

#weather-box {
    box-sizing: content-box;
    border: solid black;
}

#history-button {
    background-color: #C2C2C2;
}